<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>CodeWorms!</title>
		<script src="/assets/js/project-2.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
=======
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>codeWorms</title>
</head>
<body>
	{{body}}
</body>
</html>
>>>>>>> 019b7924d3887d7dbfd5fa08c0f1bc1e3ada77f6
