<div class="container" id="Container">
  <div class="card" id="card">
    <div class="card--header">
      <h1 class="card--number--text">
        Card number
      </h1>

      </div>
      <div class="card--by">
        By 
      </div>
      <div class="card--time">
       43 minutes ago
      </div>
      <button class="card--button"> View on site</button>