<title>Blog - Express</title>
  
  {{blog-block}}
  <div class="container blog">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/cms">New Post</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/users">Manage Users</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
  </div>