<title>CMS - Express</title>

	{{> user-manager-block}}
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-light" href="/blog">Go to Blog</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-light" href="/cms">New Post</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class='user-container'>
					<tbody>
						<tr id="form-row">
							<form id="user-form" style="display: flex" class="form-btn">
								<td colspan="4">
									<input placeholder="Enter a name" id="user-name" type="text" />
								</td>
								<td><button type="submit" class="btn btn-success" id="submit-user">Create
										User</button>
								</td>
							</form>
						</tr>
					</tbody>
				</div>
				<div class="user-container">
					<h1>Users</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of Posts</th>
								<th>See User's Posts</th>
								<th>New Post</th>
								<th>Book</th>
								<th>Delete User</th>
								
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	